* {
  padding: 0px;
  margin: 0px;
  transition: 0.4s;
}
body {
  height: 100vh;
  transition: 500ms;
  overflow-y: hidden;
  overflow-x: hidden;
}
@font-face {
  font-family: "CustomFont";
  src: url("./fonts/Nunito-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
/* Use the custom font */
body {
  font-family: "CustomFont", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.formulaire {
  padding: 60px 10px;
  border-radius: 10px;
  box-shadow: rgba(105, 105, 105, 0.359) 0px 0px 70px;
}
.c_input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0px 25px;
}
h1 {
  font-size: 25px;
  padding: 10px 0px;
  color: #16a34a;
  text-transform: uppercase;
  font: bold;
}
select {
  padding: 7px 15px;
  /* border-radius: 5px; */
  outline: none;
  font-size: 15px;
  width: 250px;
  background: white;
  border: none;
  border-bottom: 2px solid rgba(34, 34, 34, 0.22);
  color: #303030;
}
select:focus {
  border: none;
  border-bottom: 2px solid #16a34a;
}
.c_input input:focus-within {
  border: none;
  border-bottom: 2px solid #16a34a;
}
.c_input input {
  padding: 7px 15px;
  /* border-radius: 5px; */
  font-size: 15px;
  width: 215px;
  border: none;
  border-bottom: 2px solid rgba(34, 34, 34, 0.22);
  color: #303030;
  outline: none;
}

button {
  margin-top: 15px;
  background: #555;
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.c_pwd {
  border: 1px solid rgba(174, 174, 174, 0.502);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  place-items: center;
  padding-right: 4px;
  font-weight: 800;
}
.c_pwd span {
  color: #16a34a;
}

.label_in_ {
  color: rgb(106, 106, 106);
  font-weight: 100;
  font-size: 11px;
  margin-bottom: 5px;
}
.ml_ {
  padding: 0px 25px;
  margin-top: 10px;
}
.container___ {
  position: relative;
}
.container_p {
  position: absolute;
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: -50px;
}
.container_p p,
.container_p_ p {
  width: 7px;
  height: 7px;
  background: rgba(48, 48, 48, 0.07);
  border-radius: 50px;
  border: 1px solid rgba(62, 62, 62, 0.281);
}
u {
  height: 15px;
  border-radius: 4px 4px 0px 0px;
  width: 4px;
  background: #00000000;
  border-top: 2px solid rgba(71, 71, 71, 0.4);
  border-left: 2px solid rgba(71, 71, 71, 0.4);
  border-right: 2px solid rgba(71, 71, 71, 0.4);
  box-shadow: 0px 15px 10 black;
  margin-left: 0px;
  margin-top: -11px;
  position: absolute;
}

#masque {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  place-items: center;
  opacity: 0;
}
#list_historique {
  width: 490px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  height: 53vh;
}
#container_l {
  width: 100%;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid rgb(122, 122, 122);
  font-weight: bolder;
  color: rgb(94, 94, 94);
}
#c_liste {
  padding: 0px 3px;
  font-size: 14px;
  width: 100%;
}
#c_text {
  display: flex;
  margin-top: 7px;
  width: 100%;
  justify-content: space-between;
  margin-top: 7px;
}
#c_liste {
  padding: 0px 8px;
  overflow-x: hidden;
  overflow-y: auto;
}

#notification {
  position: absolute;
  background: #16a34a;
  padding: 7px 20px;
  color: white;
  top: 20px;
  right: -40vh;
  opacity: 0;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  z-index: 10000;
}
#title {
  font-size: 12px;
}

@keyframes showToggle {
  from {
    opacity: 0;
    right: -40vh;
  }
  to {
    opacity: 1;
    right: 20px;
  }
}

/* Largeur et couleur de la scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1; /* Couleur de fond de la scrollbar */
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px; /* Couleur de fond de la piste */
}
::-webkit-scrollbar-thumb {
  background-color: #888; /* Couleur du thumb */
  border-radius: 5px; /* Arrondi du thumb */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #16a34a; /* Couleur du thumb */
  border-radius: 5px; /* Arrondi du thumb */
}

#c_result {
  position: relative;
}
#list_result {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 240px;
  margin-top: 10px;
  padding: 7px 10px;
  box-shadow: 0px 0px 15px #30303079;
  border-radius: 10px;
  font-size: 13px;
}
