.popup_validation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 50;
  display: flex;
  justify-content: center;
  place-items: center;
}

.masque_validation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.367);
  z-index: 10;
}
.validation_form {
  z-index: 70;
  background: white;
  border-radius: 10px;
  padding: 50px 30px;
}
h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.311);
  padding: 0px 10px;
}

.container_p_ {
  position: absolute;
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: -40px;
}

.anim-opacityIn {
  animation: fadeIn 0.5s forwards;
}
.anim-opacityOut {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.8);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.8);
  }
}
